<div class="container education-container">
  <h3>{{ site.education_title | default: "Education" }}</h3>
  {% for education in site.data.education %}
    <div class="row clearfix education">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4>{{ education.name }}</h4>
        <p><b>{{ education.qualification1 }}</b></p>
        <p>{{ education.dates1 }}</p></p>
        <p><b>{{ education.qualification2 }}</b></p>
        <p>{{ education.dates2 }}</p></p>
        <p><b>{{ education.qualification3 }}</b></p>
        <p>{{ education.dates3 }}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if education.quote -%}
          <p class="quote">{{ education.quote }}</p>
        {%- endif -%}
        {{ education.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
